.company {
  width: 100%;
  height: auto;
}

.company__wrapper {
  width: 73.9%;
  height: auto;
  margin: 0 auto;
  padding-top: 62px;
  padding-left: 300px;
  padding-right: 7%;
  padding-bottom: 110px;
  background-image: url("../img/main-2005-desktop.png");
  background-repeat: no-repeat;
  background-size: 220px 317px;
  background-position: 7.5% 70px;
  box-sizing: border-box;
}

.company__content-wrapper {
  width: 100%;
  height: auto;
}

.company__title {
  margin: 0;
  margin-bottom: 23px;
  padding: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #666666;
}


.company__text {
  margin: 0;
  margin-bottom: 18px;
  padding: 0;
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #666666;
}

.company__text--short {
  display: none;
}

.company__text--margin {
  margin-bottom: 40px;
}

.company__details {
  margin: 0;
  padding: 0;
}

.company__details-link {
  display: inline-block;
  vertical-align: top;
  padding-top: 14px;
  padding-bottom: 15px;

  width: 180px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 1px solid $color-lightblue;
  box-sizing: border-box;
  color: $color-lightblue;
}


@media (max-width: $desktop-width) {
  .company {
    //min-width: 768px;
    //max-width: 1023px;
    padding-left: 30px;
    padding-right: 25px;
    padding-bottom: 32px;
    box-sizing: border-box;
  }

  .company__wrapper {

    padding-top: 23px;
    padding-left: 180px;
    padding-right: 0;
    padding-bottom: 50px;
    background-image: url("../img/main-2005-desktop.png");
    background-size: 244px 362px;
    background-position: -35px 25px;
    box-sizing: border-box;
  }

  .company__title {
    font-size: 32px;
  }

  .company__text {
    margin: 0;
    margin-bottom: 18px;
    padding: 0;
    font-family: "PT Mono", "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #666666;
  }

  .company__text--short {
    display: block;
  }

  .company__text--long {
    display: none;
  }

  .company__content-wrapper {
    width: 100%;
    padding-left: 5px;
    padding-right: 0;
    padding-bottom: 25px;
  }
}

@media (max-width: $tablet-width) {
  .company {
    width: 100%;
    min-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .company__wrapper {
    padding-left: 0;
    padding-right: 0;
    background-image: none;
    padding-bottom: 31px;
  }

  .company__content-wrapper {
    width: 100%;
    padding-top: 11px;
    padding-left: 0;
    padding-bottom: 25px;
  }

  .company__title {

    font-size: 28px;
    line-height: 140.62%;
  }

  .company__text {
    margin: 0;
    margin-bottom: 38px;
    padding: 0;
    font-size: 16px;
    line-height: 22px;
  }

  .company__text:last-child {
    margin-bottom: 8px;
  }
}
