.contacts {
  width: 100%;
  height: auto;
  padding-top: 90px;
  padding-bottom: 111px;
  background-color: $color-lightblue;
  box-sizing: border-box;

  background-image: url("../img/footer-airplan.png"),
    url("../img/header-points-bg-desktop.png"),
    url("../img/footer-polygon-01.png"),
    url("../img/footer-polygon-02.png");
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 511px 288px, 1920px 880px, 234px 234px, 373px 373px;
  background-position: right 1050px top 160px, right 847px top -180px, right 20px top 45px, right -40px top 270px;
}

.contacts__wrapper {
  width: 73.9%;
  height: auto;
  margin: 0 auto;
  padding-left: 6.1%;
  padding-right: 6.2%;
}

.contacts__form {
  width: 570px;
  height: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.contacts__form-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
}

.contacts__form-title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  background-color: $color-lightblue;
}

.contacts__form-text {
  margin: 0;
  margin-bottom: 49px;
  padding: 0;
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  background-color: $color-lightblue;
}

.contacts__form-field {
  background-color: $color-lightblue;
}

.contacts__input {
  width: 270px;
  height: 50px;
  margin-bottom: 40px;
  padding: 0;
  padding-left: 15px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  color: #ffffff;
}


::-webkit-input-placeholder {/*WebKitbrowsers*/
  color: $color-white;
}

:-moz-placeholder {/*MozillaFirefox4to18*/
  color: $color-white;
}

::-moz-placeholder {/*MozillaFirefox19+*/
  color: $color-white;
}

:-ms-input-placeholder {/*InternetExplorer10+*/
  color: $color-white;
}

.contacts__form-textarea {
  background-color: $color-lightblue;
}

.contacts__textarea {
  width: 570px;
  height: 154px;
  margin-bottom: 43px;
  padding-top: 15px;
  padding-left: 15px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $color-white;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  resize: none;
}


.contacts__form-button {
  padding-top: 13px;
  padding-bottom: 13px;
  width: 270px;
  color: $color-white;
  border: 1px solid $color-white;
}

.contacts__form-button:hover {
  color: $color-lightblue;
  border: 1px solid $color-lightblue;
  background-color: $color-white;
}

.contacts__form-button:active {
  outline: none;
}

.contacts__form-checkbox {
  width: 270px;
  height: auto;
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}



.contacts__checkbox-label {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: auto;
  padding-left: 40px;
  background-image: url("../img/checkbox-tic.png"),
    url("../img/checkbox-rec.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: 10px 10px, 16px 16px;
  background-position: 9px 10px, 6px 8px;
  cursor: pointer;
}

.contacts__checkbox-label:focus {
  border: 2px solid yellow;
  outline: none;
}

.contacts__checkbox-label:active {
  border: none;
  outline: none;
}

.contacts__checkbox-input:not(:checked) ~ .contacts__checkbox-label[for="agreement"] {
  background-image: url("../img/checkbox-rec.png");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 6px 8px;
}


@media (max-width: $desktop-width) {
  .contacts {
    width: 100%;
    //min-width: 768px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 80px;
    padding-bottom: 106px;
    background-image: none;
  }

  .contacts__wrapper {
    width: 590px;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }

  .contacts__form {
    width: 590px;
    padding-left: 5px;
  }

  .contacts__form-title {
    margin-bottom: 20px;
    padding: 0;
    font-weight: normal;
    font-size: 32px;
    line-height: 140.62%;
  }

  .contacts__input {
    width: 280px;
  }

  .contacts__textarea {
    width: 590px;
    margin-bottom: 48px;
  }

  .contacts__form-button {
    width: 280px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;
  }

  .contacts__form-checkbox {
    width: 273px;
    height: auto;
    font-size: 14px;
    line-height: 16px;
  }

  .contacts__checkbox-label {
    padding-top: 10px;
  }
}

@media (max-width: $tablet-width) {
  .contacts {
    width: 100%;
    min-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 28px;
    padding-bottom: 45px;
  }

  .contacts__wrapper {
    width: 100%;
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
  }

  .contacts__form {
    width: 100%;
    padding-left: 0;
  }

  .contacts__form-title {
    margin-bottom: 15px;
    font-size: 28px;
    line-height: 140.62%;
  }

  .contacts__form-text {
    margin-bottom: 27px;
  }

  .contacts__form-container {
    width: 100%;
  }

  .contacts__form-field {
    width: 100%;
  }

  .contacts__input {
    width: 100%;
    margin-bottom: 30px;
  }

  .contacts__form-textarea, {
    width: 100%;
  }

  .contacts__textarea, {
    width: 100%;
    height: 104px;
    margin-bottom: 30px;
  }

  .contacts__form-button {
    width: 100%;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 25px;
  }

  .contacts__form-checkbox {
    width: 100%;
    height: auto;
    font-size: 14px;
    line-height: 16px;
  }

  .contacts__checkbox-label {
    padding-top: 5px;
    background-position: 0 8px;
    padding-left: 35px;
  }

  .contacts__checkbox-input:checked ~ .contacts__checkbox-label[for="agreement"] {
    background-position: 4px 10px, 0 8px;
  }
}
