.footer-info {
  width: 100%;
  height: auto;
  padding-top: 65px;
  padding-bottom: 55px;
}

.footer-info__wrapper {
  display: flex;
  width: 74.5%;
  margin: 0 auto;
  box-sizing: border-box;
  }

@media (max-width: $desktop-width) {

}

@media (max-width: $tablet-width) {

}
