.footer-info__office {
  width: 340px;
  height: auto;
  margin-left: auto;
}

.footer-info__office-title {
  margin: 0;
  margin-bottom: 29px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1b2d37;
}

.footer-info__office-tel,
.footer-info__office-address {
  font-family: "PT Mono", "Arial", sans-serif;
  margin: 0;
  margin-bottom: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  color: #1b2d37;
  opacity: 0.5;
}

.footer-info__office-address {
  padding-right: 0;
}

@media (max-width: $desktop-width) {
  .footer-info__office {
    display: inline-block;
    width: 50%;
    margin-left: 0;
    padding-top: 40px;
    padding-left: 15px;
  }
}

//@media (max-width: $tablet-width) {
//
//}
