.footer-info__site {
  width: 570px;
  margin-left: 14.1%;
  height: auto;
  box-sizing: border-box;
}

.footer-info__site-title {
  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1b2d37;
}

.footer-info__site-toggle {
  display: none;
  position: relative;
  width: 18px;
  height: 18px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.footer-info__site-toggle:active {
  outline: none;
}

.footer-info__site-item {
  margin: 0;
  margin-bottom: 9px;
  padding: 0;
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: #1b2d37;
  opacity: 0.5;
  text-decoration: none;
}

.footer-info__site-item:hover {
  opacity: 1;
}

.footer-info__site-link:active {
  outline: none;
}

.footer-info__site-columns {
  column-width: 250px;
  column-count: 2;
  column-gap: 52px;
}


@media (max-width: $desktop-width) {
  .footer-info__site {
    width: 50%;
    margin-left: 0;
    padding-top: 40px;
  }
}

@media (max-width: $tablet-width) {
  .footer-info__site {
    width: 100%;
    margin-left: 0;
    padding-top: 30px;
    padding-left: 15px;
    padding-right: 15px;
    border-top: 1px solid rgba(98, 105, 98, 0.2);
  }

  .footer-info__site-header {
    display: flex;
    justify-content: space-between;
  }

  .footer-info__site-title {
    margin-bottom: 0;
    padding-bottom: 25px;
  }

  .footer-info__site-toggle {
    display: block;
  }


  .footer-info__site-columns {
    display: none;
  }
}
