.footer-info__social {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 112px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-info__social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

@media (max-width: $desktop-width) {
  .footer-info__social {
    margin-left: auto;
    padding-top: 10px;
  }
}
