.footer-info__logo {
  width: 220px;
  height: auto;
  margin-bottom: 50px;
}

.footer-info__logo-link {
  width: 216px;
  padding-top: 3px;
}

.footer-info__logo-name {
  padding-top: 8px;
  color: #203c42;
}

.footer-info__item {
  display: none;
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #1b2d37;
  opacity: 0.5;
}


.footer-info__logo-slogan {
  letter-spacing: 0.07em;
}

@media (max-width: $tablet-width) {
  .footer-info__container {
    display: flex;
    width: 100%;
    min-width: 708px;
    height: auto;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(98, 105, 98, 0.2);
    padding-bottom: 20px;
  }

  .footer-info__logo {
    width: 220px;
    height: auto;
    margin-bottom: 0;
  }

  .footer-info__item {
    display: block;
    margin-left: 87px;
    box-sizing: border-box;
  }
}

@media (max-width: $mobile-width) {
  .footer-info__container {
    display: block;
    width: 100%;
    min-width: 290px;
    height: auto;
    box-sizing: border-box;
    border-bottom: none;
    padding-bottom: 48px;
  }


  .footer-info__item {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
  }

  .footer-info__logo {
    margin: 0 auto;
  }

  .footer-info__logo-link {
    width: 220px;
    margin-bottom: 28px;
  }

  .footer-info__logo-name {
    padding-top: 12px;
  }
}
