.footer-info {
  width: 100%;
  height: auto;
  padding-top: 65px;
  padding-bottom: 55px;
  box-sizing: border-box;
}

.footer-info__wrapper {
  display: flex;
  width: 74.5%;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (max-width: $desktop-width) {
  .footer-info {
    width: 100%;
    max-width: $desktop-width;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 18px;
    padding-bottom: 38px;
  }

  .footer-info__wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }
}

@media (max-width: $tablet-width) {
  .footer-info {
    width: 100%;
    min-width: 320px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 45px;
    padding-bottom: 21px;
  }

  .footer-info__wrapper {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
