.intro__wrapper {
  width: 100%;
  margin: 0 auto;
  padding-top: 225px;
  box-sizing: border-box;
}

.intro__title {
  width: 900px;
  height: auto;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #ffffff;
}

.intro__message {
  position: relative;
  width: 623px;
  height: auto;
  margin: 0;
  margin-bottom: 38px;
  padding: 0;
  padding-left: 93px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 34px;
  color: #ffffff;
}

.intro__message::before {
  position: absolute;
  content: "";
  width: 66px;
  height: 2px;
  left: 0;
  top: 15px;
  background: #ffffff;
}

.intro__button-order {
  margin-left: 95px;
  margin-bottom: 130px;
  padding: 17px 45px 17px 45px;
  border: 1px solid $color-lightblue;
  border-radius: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  background-color: $color-lightblue;
  color: #ffffff;
}

.button--short {
  display: none;
}

.intro-scroll {
  margin-left: -40px;
  width: 193px;
  min-height: 16px;
}

.intro-scroll__btn {
  transform: rotate(-90deg);
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  opacity: 0.5;
  background-color: transparent;
}


@media (max-width: 1023px) {
  .intro__title {
    width: 470px;
    height: auto;
    left: 88px;
    top: 188px;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: 0.07em;
  }

  .intro__message {
    width: 356px;
    height: auto;
    font-size: 18px;
    line-height: 156.8%;
  }

  .intro-scroll {
    display: none;
  }
}


@media (max-width: 767px) {
  .intro__title {
    width: 277px;
    height: auto;

    font-size: 40px;
    line-height: 47px;
  }

  .intro__message {
    width: 100%;
    height: auto;
    font-size: 16px;
  }

  .intro__button-order {
    margin: 0 auto;
  }

  .button--short {
    display: block;
  }

  .button--long {
    display: none;
  }
}
