.page-header__order {
  box-sizing: border-box;
}

.page-header__button {
  min-width: 180px;
  padding-top: 14px;
  padding-bottom: 15px;
  border: 1px solid $color-white;
  border-radius: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  background-color: transparent;
  color: $color-white;
}

.page-header__button:hover {
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.page-header__button:active {
  outline: none;
}

@media (max-width: $tablet-width) {
  .page-header__order {
    display: none;
  }
}
