.page-main__wrapper {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

@media (max-width: $desktop-width) {
  .page-main__wrapper {
    margin: 0 auto;
    margin-bottom: 100px;
    box-sizing: border-box;
  }
}

@media (max-width: $tablet-width) {
  .page-main__wrapper {
    min-width: 320px;
    max-width: 767px;
    margin-bottom: 38px;
  }
}
