.page-main__wrapper {
  width: 100%;
  box-sizing: border-box;
}

@media (max-width: 1023px) {
  .page-main__wrapper {
    width: 100%;
    max-width: 1023px;
    margin: 0 auto;
    margin-bottom: 200px;
    box-sizing: border-box;
  }
}


@media (max-width: $desktop-width) {
  .page-main__wrapper {
    margin-bottom: 100px;
  }
}

@media (max-width: $tablet-width) {
  .page-main__wrapper {
    margin-bottom: 150px;
  }
}
