.page-header__container {
  display: flex;
  justify-content: space-between;
  //align-items: center;
  //text-align: center;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding-left: 13.5%;
  padding-right: 13.5%;
  padding-top: 35px;
  box-sizing: border-box;
}

@media (max-width: $desktop-width) {
  .page-header__container {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    width: 100%;
    max-width: 1023px;
    margin: 0 auto;
  }
}

@media (max-width: $tablet-width) {
  .page-header__container {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    max-width: 767px;
  }
}
