.page-header__navigation {
  height: auto;
  margin-left: auto;
  margin-right: 48px;
}

.page-header__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  min-height: 52px;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  list-style: none;
}

.page-header__item {
  display: inline-block;
  vertical-align: top;
  height: 18px;
  margin-left: 90px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: $color-white;
}

.page-header__link {
  display: flex;
  color: $color-white;
}

.page-header__link-text {
  margin-left: 18px;
}

@media (max-width: $desktop-width) {
  .page-header__link-text {
    display: none;
  }

  .page-header__navigation {
    margin-left: auto;
    margin-right: 0;
  }

  .page-header__list {
    padding-top: 12px;
  }

  .page-header__item {
    width: auto;
    min-height: 25px;
    display: flex;
    align-items: center;
    margin-left: 0;
    margin-right: 30px;
  }

  .page-header__item:last-child {
    margin-right: 0;
  }

  .page-header__icon-phone {
    width: 23px;
    height: 23px;
  }

  .page-header__icon-mail {
    width: 25px;
    height: 19px;
  }
}
