.popup-form {
  position: absolute;
  width: 490px;
  min-height: 605px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  top: 135px;
  left: calc(50% - 245px);
  box-sizing: border-box;
  background-color: $color-lightblue;
  z-index: 100;
}

.popup-form__button-wrapper {
  margin: 0;
}

.popup-form__form-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
}

.popup-form__form-title {
  margin: 0;
  margin-top: -5px;
  margin-bottom: 17px;
  padding: 0;
  font-weight: normal;
  font-size: 28px;
  line-height: 28px;
}

.popup-form__form-text {
  width: 390px;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.popup-form__form-field {
  width: 100%;
}

.popup-form__input {
  width: 100%;
  height: 52px;
  margin-bottom: 30px;
  padding: 0;
  padding-left: 25px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $color-white;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
}


::-webkit-input-placeholder {/*WebKitbrowsers*/
  color: $color-white;
}

:-moz-placeholder {/*MozillaFirefox4to18*/
  color: $color-white;
}

::-moz-placeholder {/*MozillaFirefox19+*/
  color: $color-white;
}

:-ms-input-placeholder {/*InternetExplorer10+*/
  color: $color-white;
}

.popup-form__form-textarea {
  width: 100%;
}

.popup-form__textarea {
  width: 100%;
  height: 104px;
  margin-bottom: 30px;
  padding-top: 17px;
  padding-left: 25px;
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: $color-white;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  box-sizing: border-box;
  resize: none;
}

.popup-form__textarea:focus,
.popup-form__textarea:hover {
  background: rgba(12, 142, 203, 0.42);
  outline: none;
  border: none;
}

.popup-form__form-button {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 14px;
  color: $color-white;
  border: 1px solid $color-white;
}

.popup-form__form-checkbox {
  width: 100%;
  height: auto;
  font-family: "PT Mono", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  order: 1;
}

.popup-form__checkbox-label {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  height: auto;
  font-size: 14px;
  padding-left: 40px;
  padding-right: 20px;
  background-image: url("../img/checkbox-tic.png"),
    url("../img/checkbox-rec.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: 10px 10px, 16px 16px;
  background-position: 3px 4px, 0 2px;
  cursor: pointer;
}

.popup-form__checkbox-input:checked ~ .popup-form__checkbox-label[for="popup-agreement"] {
  background-image: url("../img/checkbox-tic.png"),
    url("../img/checkbox-rec.svg");
  background-repeat: no-repeat, no-repeat;
  background-size: 10px 10px, 16px 16px;
  background-position: 3px 4px, 0 2px;
}

.popup-form__checkbox-input:not(:checked) ~ .popup-form__checkbox-label[for="popup-agreement"] {
  background-image: url("../img/checkbox-rec.png");
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-position: 0 2px;
}

.popup-form__checkbox-input:focus ~ .popup-form__checkbox-label[for="popup-agreement"] {
  border: 2px solid lightskyblue;
}

.popup-form__checkbox-input:hover ~ .popup-form__checkbox-label[for="popup-agreement"] {
  color: red;
}

.popup-form__input:focus,
.popup-form__input:hover {
  background: rgba(12, 142, 203, 0.42);
  outline: none;
  border: none;
}

.popup-form__button-close {
  display: block;
  padding: 0;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: auto;
}

@media (max-width: $desktop-width) {
  .popup-form,
  .modal-layout {
    display: none;
  }
}
