.services {
  width: 100%;
  height: auto;
  padding-left: 13.5%;
  padding-right: 13.5%;
  padding-top: 93px;
  padding-bottom: 127px;
  background: #1b2d37;
}

.services__list-container {
  display: flex;
  justify-content: space-between;
}

.services__item-link {
  margin: 0 auto;
}

.services__title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #ffffff;
}

.services__item {
  width: 100%;
  height: auto;
  position: relative;
  background-color: #696969;
}

.services__image-wrapper {
  margin: 0;
  padding: 0;
}

.services__item-title {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 20px;
  left: 20px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  z-index: 1000000;
}

.services__item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(27, 45, 55, 0.7);
}

.services__image {
  width: 100%;
  height: auto;
}

.services__image-middle,
.services__image-small {
  display: none;
}

.services__item-button {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 63px;
  height: 63px;
  bottom: 0;
  right: 0;
  background: #00b2ff;
}

@media (max-width: 1023px) {
  .services__image-big,
  .services__image-small {
    display: none;
  }

  .services__image-middle {
    display: block;
  }

  .services__list-container {
    display: flex;
    flex-wrap: wrap;
  }

  .services__item {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .services__image-big,
  .services__image-middle {
    display: none;
  }

  .services__image-small {
    display: block;
  }

  .services__item {
    width: 290px;
    height: 256px;
    margin: 0 auto;
  }
}
