.services {
  width: 100%;
  height: auto;
  padding-top: 85px;
  padding-bottom: 112px;
  background: #1b2d37;
  box-sizing: border-box;
}

.services__wrapper {
  width: 73.9%;
  margin: 0 auto;
  padding-left: 6.1%;
  padding-right: 6.2%;
  box-sizing: border-box;
}

.services__list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
}

.services__item-link {
  width: 31.5%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin-right: 10px;
  margin-bottom: 20px;
}

.services__item-link:active {
  outline: none;
}

.services__item-link:nth-child(3n),
.services__item-link:nth-last-child(1) {
  margin-right: 0;
}

.services__title {
  margin: 0;
  margin-bottom: 55px;
  padding: 0;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;
  color: #ffffff;
}

.services__item {
  width: 100%;
  height: auto;
  position: relative;
  background-color: #696969;
}

.services__image-wrapper {
  margin: 0;
  padding: 0;
}

.services__item-title {
  width: 160px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50px;
  left: 11%;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  z-index: 1000000;
}

.services__item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(27, 45, 55, 0.7);
}

.services__item:hover .services__item-overlay {
  background-color: rgba(27, 45, 55, 0.5);
}

.services__image {
  width: 100%;
  height: auto;
}

.services__image-middle,
.services__image-small {
  display: none;
}

.services__item-button {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 63px;
  height: 63px;
  bottom: 0;
  right: 0;
  background: $color-lightblue;
}

.services__item-button:hover {
  background: #0073ff;
}

@media (max-width: $desktop-width) {
  .services {
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .services__wrapper {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
  }

  .services__title {
    width: 100%;
    margin-bottom: 55px;
    padding-right: 100px;
    font-size: 32px;
    line-height: 140.62%;
    color: #ffffff;
  }

  .services__list-container {
    display: flex;
    flex-wrap: wrap;
  }

  .services__item-link {
    width: 100%;
    margin-right: 0;
  }

  .services__item {
    width: 100%;
    margin-bottom: 45px;
  }

  .services__item-title {
    top: 40px;
  }

  .services__item-link:last-child .services__item-title {
    top: 50px;
    box-sizing: border-box;
  }

  .services__image-big,
  .services__image-small {
    display: none;
  }

  .services__image-middle {
    display: block;
    width: 100%;
    height: auto;
  }

  .services__item-button {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 63px;
    height: 63px;
  }
}

@media (max-width: $tablet-width) {
  .services {
    width: 100%;
    min-width: 320px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 35px;
  }

  .services__wrapper {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .services__title {
    width: 100%;
    margin-bottom: 40px;
    padding-left: 10px;
    padding-right: 0;
    font-size: 28px;
    line-height: 140.62%;
    color: #ffffff;
  }

  .services__item-link {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .services__item {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .services__item-title {
    top: 22px;
    left: 35px;
  }

  .services__item-link:last-child .services__item-title {
    top: 30px;
    box-sizing: border-box;
  }

  .services__image-big,
  .services__image-middle {
    display: none;
  }

  .services__image-small {
    display: block;
    width: 100%;
    height: auto;
  }
}
